<div class="row">
  <%= form_with(model: volunteer, local: true) do |form| %>
    <% if volunteer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(volunteer.errors.count, "エラー") %> ボランティアが保存できませんでした:</h2>
        <ul>
        <% volunteer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.label :依頼するボランティアのタイトル %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.label :ボランティアの詳細 %>
      <%= form.text_area :describe, class: 'form-control' %>
    </div>
    <br>

    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.file_field :image, id: :volunteer_img %>
      <% if @volunteer.image.present? %>
        <%= image_tag @volunteer.image.url, id: :img_prev %>
      <% else %>
        <%= image_tag "default.png", id: :img_prev %>
      <% end %>
      <script type="text/javascript">
        $(function() {
          function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            }
          }
          $("#volunteer_img").change(function(){
            readURL(this);
          });
        });
      </script>
    </div>

    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.label :住所 %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.label :定員 %>
      <%= form.number_field :capacity, class: 'form-control' %>
    </div>

    <div class="field col-sm-12 col-md-10 col-lg-8">
      <%= form.label :日時 %>
      <%= form.datetime_field :date, class: 'form-control' %>
    </div>

    <div class="col-12 clearfix">
      <div class="float-left">
        <% Category.all.each do |category| %>
             <table class="float-left">
               <thead>
                 <tr>
                   <th>
                     <%= form.check_box :category_ids, { multiple: true, checked: category[:checked],
                        disabled: category[:disabled], include_hidden: false }, category[:id] %>
                        <%= category.name %>
                    </th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>
                     <% if category.icon.present? %>
                      <%= image_tag category.icon_url, class: 'rounded-circle' %>
                     <% end %>
                  </td>
                 </tr>
               </tbody>
             </table>
        <% end %>
      </div>
    </div>
      <%= form.submit  class: 'btn btn-primary' %>
      <%= link_to '戻る', volunteers_path, class: 'btn btn-primary' %>
<% end %>
</div>
