<%= form_with(model: volunteer, local: true) do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "エラー") %> ボランティアが保存できませんでした:</h2>
      <ul>
      <% volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :依頼するボランティアのタイトル %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ボランティアの詳細 %>
    <%= form.text_field :describe, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <% if @volunteer.image? && @volunteer.image.url %>
      <%= image_tag(@volunteer.image.url) %>
    <% else %>
      <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" >
    <% end %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :定員 %>
    <%= form.text_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :日時 %>
    <%= form.text_field :date %>
  </div>


  <div class="field">
    <% Category.all.each do |category| %>
      <%= form.check_box :category_ids, { multiple: true, checked: category[:checked],
         disabled: category[:disabled], include_hidden: false }, category[:id] %>
      <label><%= category.name %></label>
    <% end %>
  </div>


    <%= form.submit  class: 'btn btn-primary' %>
<% end %>
