<div class="col-12 clearfix">
  <form class="form-inline float-right">
    <%= search_form_for(@q, url:volunteers_path) do |f| %>
      <div class="form-group mb-6">
        <%= f.label :title_cont, 'タイトル' %>
        <%= f.search_field :title_cont, class: 'form-control' %>
      </div>

      <div class="form-group mx-sm-3 mb-6">
        <%= f.label :categories_id_eq, 'カテゴリー' %>
        <%= f.collection_select :categories_id_eq, @categories, :id, :name, include_blank: '指定なし' %>
      </div>

      <%= image_submit_tag "red_search.png", id: 'search_btn' %>

    <% end %>
  </form>
</div>
