<div class="row">
  <div class="col-12 text-center font-weight-bolder">
    <h2>ボランティア依頼一覧</h2>
    <br>
  </div>
  <div class="col-12">
    <%= render 'search_form' %>
  </div>
</div>
<!-- <%= image_tag "vol_top.png", class: 'icon image-fluid' %> -->
<br>
<br>
<table>
  <tr>
    <th>依頼者</th>
    <th>依頼名</th>
    <th>詳細</th>
    <th>ステータス</th>
  </tr>
  <% @volunteers.each do |volunteer| %>
    <tr>
      <td class="icon">
        <a href="/users/<%= volunteer.user.id %>"><%= volunteer.user.name %></a>
        <br>
        <a href="/users/<%= volunteer.user.id %>"><%= image_tag volunteer.user.icon.url, class: "top_icon rounded-circle" %></a>
      </td>
      <td><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.title.truncate(10) %></a></td>
      <td class="describe"><%= volunteer.describe.truncate(20) %></td>
      <td><%= "#{volunteer.contractors.count}人/#{volunteer.capacity}人" %></td>
    </tr>
  <% end %>
</table>
<%= paginate @volunteers %>
<br>
<%= link_to 'ボランティア新規登録', new_volunteer_path, class: 'btn2 mx-auto d-block' %>

<style>
  table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  }

  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }

  table tr:hover{
    background-color: #d4f0fd;
  }

  table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
  }

  .describe {
    text-align: left;
  }

  table td.icon{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }

</style>
