<p>タイトル：<%= @volunteer.title %></p>
<p>依頼者：<%= @volunteer.user.name %></p>
<p>詳細：<%= @volunteer.describe %></p>
<p>
  画像:
  <%= image_tag @volunteer.image_url if @volunteer.image.present?  %>
</p>
<p>住所：<%= @volunteer.address %></p>
<p>定員：<%= @volunteer.capacity %></p>
<p>日付：<%= @volunteer.date %></p>
<strong>カテゴリー</strong>
<ul>
  <% @volunteer.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<p><span>受注した人数: </span><%= @volunteer.contractors.count %></p>
<p><span>受注した人</span></p>
<ul>
  <% @volunteer.contractors.each do |contractor| %>
    <li><%= contractor.name %></li>
  <% end %>
</ul>
<br>
<!-- 受注機能 -->
<%= render 'order_managements/order' %>


  <!-- コメント機能 -->
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, volunteer: @volunteer } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, volunteer: @volunteer } %>
  <% if user_signed_in? %>
    <% if @volunteer.user.id == current_user.id  %>
      <%= link_to '編集', edit_volunteer_path(@volunteer), class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to '戻る', volunteers_path, class: 'btn btn-primary' %>
