<div class="row">

  <div class="col-5">
    <h3><%= @volunteer.title %></h3>
    <p><strong>依頼者</strong> <a href="/users/<%= @volunteer.user.id %>"><%= "#{@volunteer.user.name.truncate(10)}" %></a></p>
    <p><strong>住所</strong> <%= @volunteer.address %> <a href="https://www.google.co.jp/maps" target="_blank">Map</a></p>
    <p><strong>ステータス</strong> <%= "受注者#{@volunteer.contractors.count}人/定員#{@volunteer.capacity}人" %></p>
    <p><strong>日付</strong> <%= @volunteer.date %></p>
    <p><strong>カテゴリー</strong></p>
    <div class="col-12 clearfix">
      <div class="float-left">
        <table>
          <thead>
            <tr>
              <th>
                <% @volunteer.categories.each do |vc| %>
                  <%= vc.name %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <% @volunteer.categories.each do |vc| %>
                  <%= image_tag vc.icon.url, class: 'rounded-circle', size: '100x100' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p><strong>受注した人数 </strong><%= @volunteer.contractors.count %>人</p>
    <p><strong>受注した人 </strong></p>
    <ul>
      <% @volunteer.contractors.each do |vc| %>
        <li><a href="/users/<%= vc.id %>"><%= "#{vc.name.truncate(10)}" %></a></li>
      <% end %>
    </ul>
    <br>
  </div>
  <div class="col-7">
    <p>
      <% if @volunteer.image? && @volunteer.image.url %>
        <%= image_tag @volunteer.image.url, class: 'rounded-circle mx-auto', size: '300x300' %>
      <% else %>
        <image src="/assets/default.png" class="rounded-circle mx-auto d-block" width="350" height="300" >
      <% end %>
    </p>
    <strong>ボランティア詳細</strong>
    <textarea name="name" rows="6" cols="60" class="form-control" STYLE="background-color:#fff;" readonly><%= @volunteer.describe %></textarea>
    <br>
    <!-- 受注機能 -->
    <%= render 'order_managements/order' %>
  </div>
</div>


  <!-- コメント機能 -->
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, volunteer: @volunteer } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, volunteer: @volunteer } %>
  <br>
  <% if user_signed_in? %>
    <% if @volunteer.user.id == current_user.id  %>
      <%= link_to '編集', edit_volunteer_path(@volunteer), class: 'btn btn-primary' %>
      <%= link_to '依頼を削除', @volunteer, method: :delete, data: { confirm: '依頼を削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
  <%= link_to '戻る', volunteers_path, class: 'btn btn-primary' %>
