<div class="row">

  <div class="col-5">
    <h3><%= @volunteer.title %></h3>
    <table class="table">
      <tr>
        <td>依頼者</td>
        <td><a href="/users/<%= @volunteer.user.id %>"><%= "#{@volunteer.user.name.truncate(10)}" %></a></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @volunteer.address %> <a href="https://www.google.co.jp/maps" target="_blank">Map</a></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= "受注者#{@volunteer.contractors.count}人/定員#{@volunteer.capacity}人" %></td>
      </tr>
      <tr>
        <td>日付</td>
        <td><%= l @volunteer.date %></td>
      </tr>
      <tr>
        <td>受注した人数</td>
        <td><%= @volunteer.contractors.count %>人</td>
      </tr>
      <tr>
        <td>受注した人</td>
        <td>
          <ul>
            <% @volunteer.contractors.each do |vc| %>
              <li><a href="/users/<%= vc.id %>"><%= "#{vc.name.truncate(10)}" %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
    <p><strong>カテゴリー</strong></p>
    <div class="col-12 clearfix">
      <div class="float-left">
        <div class="row">
          <% @volunteer.categories.each do |vc| %>
          <div class="col-4 text-center">
            <%= vc.name %>
            <%= image_tag vc.icon.url, class: 'rounded-circle', size: '100x100' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <p>
      <% if @volunteer.image? && @volunteer.image.url %>
        <%= image_tag @volunteer.image.url, class: 'mx-auto d-block show_icon' %>
      <% else %>
        <image src="/assets/default.png" class="mx-auto d-block show_icon" >
      <% end %>
    </p>
    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a class="text-body d-block p-3 m-n3 text-center" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
              ボランティア詳細
            </a>
          </h5>
        </div><!-- /.card-header -->
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <%= @volunteer.describe %>
          </div><!-- /.card-body -->
        </div><!-- /.collapse -->
      </div><!-- /.card -->
    </div><!-- /#accordion -->
    <br>
    <!-- 受注機能 -->
    <%= render 'order_managements/order' %>
  </div>
</div>


  <!-- コメント機能 -->
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, volunteer: @volunteer } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, volunteer: @volunteer } %>
  <br>
  <% if user_signed_in? %>
    <% if @volunteer.user.id == current_user.id  %>
      <%= link_to '編集', edit_volunteer_path(@volunteer), class: 'btn btn-primary' %>
      <%= link_to '依頼を削除', @volunteer, method: :delete, data: { confirm: '依頼を削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
  <%= link_to '戻る', volunteers_path, class: 'btn btn-primary' %>
