<h2><%= "#{@user.name}のプロフィール" %></h2>
<div class="row">
  <div class="col-6">
    <table class="table">
      <tr>
        <td>メールアドレス</td>
        <td class="text-center"><%= @user.email %></td>
      </tr>
      <tr>
        <td>評価したユーザー数</td>
        <td class="text-center"><%= @user.evaluated_users.count %>人</td>
      </tr>
      <tr>
        <td>依頼しているボランティア</td>
        <td>
          <ul>
            <% @user.volunteers.each do |v| %>
              <li><a href="/volunteers/<%= v.id %>"><%= "#{v.title.truncate(10)}" %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>受注しているボランティア</td>
        <td>
          <ul>
            <% @user.ordered_volunteers.each do |ov| %>
              <li><a href="/volunteers/<%= ov.id %>"><%= "#{ov.title.truncate(10)}" %></a></li>
            <% end %>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-6">
    <% if @user.icon.present? %>
      <%= image_tag @user.icon.url, class: 'mx-auto d-block show_icon' %>
    <% else %>
      <image src="/assets/default.png" class="icon mx-auto d-block show_icon" >
    <% end %>
    <br>
    <% if user_signed_in? %>
      <%= render 'good_evaluations/evaluate_button', user: @user %>
      <% if current_user.id == @user.id && @user.email != "test@email.com" %>
        <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id), class: "btn btn-primary btn-block" %>
        <br>
        <% if current_user.try(:admin?) %>
          <%= link_to "管理画面", "/admin" %>
          <%= link_to "カテゴリーリスト", categories_path %>
        <% end %>
      <% end %>
    <% else %>
      <strong>ログインするとユーザーを評価することが出来ます</strong>
    <% end %>
  </div>
</div>
<br>
  <!-- <p>自己紹介</p>
  <textarea name="name" rows="8" cols="80" class="form-control" placeholder="自己紹介欄" STYLE="background-color:#fff;" readonly><%= @user.introduction %></textarea>
  <br> -->
  <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a class="text-body d-block p-3 m-n3 text-center" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
            自己紹介
          </a>
        </h5>
      </div><!-- /.card-header -->
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <%= @user.introduction %>
        </div><!-- /.card-body -->
      </div><!-- /.collapse -->
    </div><!-- /.card -->
  </div><!-- /#accordion -->
<style>
  ul {
    list-style: none;
  }
</style>
