<h2><%= "#{@user.name}のプロフィール" %></h2>
<% if @user.icon.present? %>
  <%= image_tag @user.icon_url, class: 'rounded-circle' %>
<% end %>
<p>評価したユーザー数：<%= @user.evaluated_users.count %></p>

<% if user_signed_in? %>
  <%= render 'good_evaluations/evaluate_button', user: @user %>
  <% if current_user.id == @user.id %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id) %>
    <% if current_user.try(:admin?) %>
      <%= link_to "管理画面", "/admin" %>
      <%= link_to "カテゴリーリスト", categories_path %>
    <% end %>
  <% end %>
<% end %>
