<h1>ユーザー詳細</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>アイコン : <%= image_tag @user.icon_url if @user.icon.present? %></p>
<p>評価したユーザー数：<%= @user.evaluated_users.count %></p>

<% if user_signed_in? %>
  <%= render 'good_evaluations/evaluate_button', user: @user %>
  <% if current_user.id == @user.id %>
    <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id) %>
    <% if current_user.try(:admin?) %>
      <p><%= link_to "管理画面", "/admin" %></p>
      <p><%= link_to "カテゴリーリスト", categories_path %></p>
    <% end %>
  <% end %>
<% end %>
