<h2><%= "#{@user.name}のプロフィール" %></h2>
<div class="row">
  <div class="col-6">
    <p>メールアドレス：<%= @user.email %></p>
    <p>評価したユーザー数：<%= @user.evaluated_users.count %>人</p>
    <p>依頼しているボランティア</p>
    <ul>
      <% @user.volunteers.each do |v| %>
        <li><a href="/volunteers/<%= v.id %>"><%= "#{v.title.truncate(10)}" %></a></li>
      <% end %>
    </ul>
    <p>受注しているボランティア</p>
    <ul>
      <% @user.ordered_volunteers.each do |ov| %>
        <li><a href="/volunteers/<%= ov.id %>"><%= "#{ov.title.truncate(10)}" %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-6">
    <% if @user.icon.present? %>
      <%= image_tag @user.icon_url, class: 'rounded-circle mx-auto d-block', size: '300x300' %>
    <% else %>
      <image src="/assets/default.png" class="icon rounded-circle mx-auto d-block" width="300" height="300" >
    <% end %>
    <br>
    <% if user_signed_in? %>
      <%= render 'good_evaluations/evaluate_button', user: @user %>
      <% if current_user.id == @user.id && @user.email != "test@email.com" %>
        <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id), class: "btn btn-primary btn-block" %>
        <br>
        <% if current_user.try(:admin?) %>
          <%= link_to "管理画面", "/admin" %>
          <%= link_to "カテゴリーリスト", categories_path %>
        <% end %>
      <% end %>
    <% else %>
      <strong>ログインするとユーザーを評価することが出来ます</strong>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <p>自己紹介</p>
  <textarea name="name" rows="8" cols="80" class="form-control" placeholder="自己紹介欄" STYLE="background-color:#fff;" readonly><%= @user.introduction %></textarea>
</div>
