<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="" >
        <a class="" href="/"><%= image_tag "volunteer_nav.png", class: 'rounded-circle', size: '100x100' %></a>
        <%= link_to "VolunteerUp", volunteers_path, id: "head-log", class: "header-log" %>
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item"><%= link_to "ボランティア一覧", volunteers_path, class: "nav-list-item" %></li>
            <li class="nav-list-item">
              <%= link_to "#{current_user.name}のプロフィール", user_path(current_user.id), class: "nav-list-item" %>
            </li>
            <li class="nav-list-item"><%= link_to "ログアウトする", destroy_user_session_path, method: :delete , class: "nav-list-item"%></li>
          <% else %>
            <li class="nav-list-item"><%= link_to "ボランティア一覧", volunteers_path, class: "nav-list-item" %></li>
            <li class="nav-list-item"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "nav-list-item" %></li>
            <li class="nav-list-item"><%= link_to "ログインする", new_user_session_path, class: "nav-list-item" %></li>
          <% end %>
        </ul>
      </nav>
      <!-- <image src="/assets/inaka.jpg" > -->
    </header>
    <%= render 'layouts/flashes' %>
    <div class="container">
      <br>
      <%= yield %>
    </div>
    <footer>
      <nav class="" >
        <ul class="nav-list">
          <% if user_signed_in? %>
            <li class="nav-list-item"><%= link_to "ボランティア一覧", volunteers_path, class: "nav-list-item" %></li>
            <li class="nav-list-item">
              <%= link_to "#{current_user.name}のプロフィール", user_path(current_user.id), class: "nav-list-item" %>
            </li>
            <li class="nav-list-item"><%= link_to "ログアウトする", destroy_user_session_path, method: :delete , class: "nav-list-item"%></li>
          <% else %>
            <li class="nav-list-item"><%= link_to "ボランティア一覧", volunteers_path, class: "nav-list-item" %></li>
            <li class="nav-list-item"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "nav-list-item" %></li>
            <li class="nav-list-item"><%= link_to "ログインする", new_user_session_path, class: "nav-list-item" %></li>
          <% end %>
        </ul>
    </footer>
  </body>
</html>

<style>
  header .header-log {
    font-size: 40px;
    line-height: 100px;
    color: #FFF;
  }
  .nav-list {
    text-align: center;
    line-height: 100px;
    color: #FFF;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: #FFF;
  }

  footer .nav-list-item:hover {
    color:#fff;
  }
</style>
