<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand navbar-light" style="background-color:#33FF66;" >
      <a class="navbar-brand" href="/"><%= image_tag "volunteer_nav.png", class: 'rounded-circle', size: '50x50' %></a>
      <%= link_to "VolunteerUp", volunteers_path, id: "logo", class: "navbar-brand text-light" %>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "ボランティア一覧", volunteers_path, class: "nav-link" %></li>
          <li class="nav-item">
            <%= link_to "#{current_user.name}のプロフィール", user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item"><%= link_to "ログアウトする", destroy_user_session_path, method: :delete , class: "nav-link"%></li>
        <% else %>
          <li class="nav-item"><%= link_to "新規ユーザー登録", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログインする", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
    <%= render 'layouts/flashes' %>
    <div class="container">
      <br>
      <%= yield %>
    </div>
  </body>
</html>
